.container {
    height: 100vh;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* Ensure content is above particles */
}

.container:nth-child(odd) {
    background: rgba(0, 0, 0, 0.253);
}

@media screen and (max-width:578px) {
    .container h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:486px) {
    .container h1 {
        font-size: 2rem;
    }
}


.us {
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
    width: 80%;
    margin: 0 auto;
    background: #0d0d2b;
    border-radius: 40px 40px 0 0;
    padding: 0;
}


.coursee {
    flex-wrap: wrap !important;
    width: 100%;
    margin: auto;
    background-color: inherit;
    flex-direction: row;
}


.course {
    width: 400px;
    border-radius: 40px;
    margin: 10px 0;
    background-color: #0d0d2b;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
    background: linear-gradient(135deg, #e00070, #ff4081);
    box-shadow: 0 0 25px rgba(255, 64, 129, 0.7);
}



@media screen and (max-width:610px) {
    .Benefits {
        padding-left: 0;
        flex-direction: column;
    }

    .data p {
        font-size: 1em;
    }
}